Mundipagg/Domain/obj/
Mundipagg/Mundipagg.Tests/obj/
Mundipagg/packages/
Mundipagg/Mundipagg/bin/
Mundipagg/Integration/obj/
Mundipagg/Mundipagg/obj/
Mundipagg/Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Mundipagg/Service/obj/
Mundipagg/Repository/obj/
Mundipagg/Validation/obj/
